*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    min-height: 100vh;
    font-family: 'Heebo', sans-serif;
    padding: clamp(20px, 5vw, 50px) 10px;
    color: #161616;
  }
h1{
 
  font-family: 'Heebo', sans-serif;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;

}
h1 span {
font-weight: 700;
}




          
            
  

